
@{
    ViewData["Title"] = "Index";
}



<!-- autoplay swiper start -->
<section id="swiper-autoplay">
    <div class="row">
        <div class="col-4">
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-title">Autoplay</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <div class="swiper-autoplay swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img class="img-fluid" src="~/Layout/app-assets/img/gallery/11.jpg" alt="banner"></div>
                                <div class="swiper-slide"><img class="img-fluid" src="~/Layout/app-assets/img/gallery/12.jpg" alt="banner"></div>
                                <div class="swiper-slide"><img class="img-fluid" src="~/Layout/app-assets/img/gallery/14.jpg" alt="banner"></div>
                                <div class="swiper-slide"><img class="img-fluid" src="~/Layout/app-assets/img/gallery/16.jpg" alt="banner"></div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- autoplay swiper ends -->
