@{
    Layout = "_LayoutWebSite.cshtml";
}

<!-- 3d cube effect swiper start -->
<section id="swiper-cube-effect">
    <div class="row">
        <div class="col-12">
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-title">3-D cube Effect</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <div class="swiper-cube-effect swiper-container mb-3">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img class="img-fluid" src="~/Layout/app-assets/img/banner/banner-22.jpg" alt="banner"></div>
                                <div class="swiper-slide"><img class="img-fluid" src="~/Layout/app-assets/img/banner/banner-22.jpg" alt="banner"></div>
                                <div class="swiper-slide"><img class="img-fluid" src="~/Layout/app-assets/img/banner/banner-23.jpg" alt="banner"></div>
                                <div class="swiper-slide"><img class="img-fluid" src="~/Layout/app-assets/img/banner/banner-24.jpg" alt="banner"></div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination swiper-pagination-white"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 3d cube effect swiper ends -->